@model CarCrash
@using Microsoft.AspNetCore.Authorization

<div class="card card-outline-primary m-1 p-1 font-weight-bolder">

    <div class="p-1">
        <h4>Crash on @Model.crash_date.Date in @Model.city, UT</h4>
        <h2>Crash ID: @Model.crash_id</h2>

        <span class="text-danger" style="float:right">
            Severity: @Model.crash_severity_id
        </span>
    </div>

    <ul>
        <li class="text-lg-left">City: @Model.city</li>
        <li class="text-lg-left">County: @Model.county_name</li>
        <li class="text-lg-left">Date: @Model.crash_date.Month/@Model.crash_date.Day/@Model.crash_date.Year</li>
    </ul>

    <div class="row">
        @if (User.Identity.IsAuthenticated == true)
        {
            <div class="col-10">
                <a asp-controller="Home" asp-action="EditCrash" asp-route-fieldid="@Model.Field1" class="btn btn-primary">Edit</a>
                <a asp-controller="Home" asp-action="Delete" asp-route-fieldid="@Model.Field1" class="btn btn-warning">Delete</a>
            </div>

        }
        <a asp-controller="Home" asp-action="Details" asp-route-fieldid="@Model.Field1" class="btn btn-info col-2 float-right">Details</a>
    </div>

</div>
