@{
    ViewData["Title"] = "Details Page";
}

@model CarCrash

<h3 class="bg-info text-white text-center">Details</h3>

<table class="table table-sm table-bordered table-striped">

    <tbody>
        @*info on each crash*@
        <tr><th>Crash ID:</th><td>@Model.crash_id</td></tr>
        <tr><th>Severity:</th><td>@Model.crash_severity_id</td></tr>
        <tr><th>Date:</th><td>@Model.crash_date.Date</td></tr>
        <tr><th>Time:</th><td>@Model.crash_time</td></tr>
        <tr><th>County:</th><td>@Model.county_name</td></tr>
        <tr><th>City:</th><td>@Model.city</td></tr>
        <tr><th>Road:</th><td>@Model.main_road_name</td></tr>
        <tr><th>Route:</th><td>@Model.route</td></tr>
        <tr><th>Mile Point:</th><td>@Model.milepoint</td></tr>

        @*Only show the conditions of the crash that are true*@

        @if (Model.Freeway == "True")
        {
            <tr><th>Freeway:</th><td>True</td></tr>
        }
        @if (Model.Holiday == "True")
        {
            <tr><th>Holiday:</th><td>True</td></tr>
        }

        @if (Model.Weekend == "True")
        {
            <tr><th>Weekend:</th><td>True</td></tr>
        }

        @if (Model.bicyclist_involved == 1.0)
        {
            <tr><th>Bicyclist Involvement:</th><td>True</td></tr>
        }

        @if (Model.motorcycle_involved == 1.0)
        {
            <tr><th>Motorcycle Involvement:</th><td>True</td></tr>
        }

        @if (Model.commercial_motor_veh_involved == 1.0)
        {
            <tr><th>Commercial Vehicle Involement:</th><td>True</td></tr>
        }

        @if (Model.pedestrian_involved == 1.0)
        {
            <tr><th>Pedestrian Involvement:</th><td>True</td></tr>
        }

        @if (Model.dui == 1.0)
        {
            <tr><th>Driving Under the Influence:</th><td>True</td></tr>
        }

        @if (Model.drowsy_driving == 1.0)
        {
            <tr><th>Drowsy Driving:</th><td>True</td></tr>
        }

        @if (Model.distracted_driving == 1.0)
        {
            <tr><th>Distracted Driving:</th><td>True</td></tr>
        }

        @if (Model.domestic_animal_related == 1.0)
        {
            <tr><th>Domestic Animal Related:</th><td>True</td></tr>
        }

        @if (Model.wild_animal_related == 1.0)
        {
            <tr><th>Wild Animal Related:</th><td>True</td></tr>
        }

        @if (Model.improper_restraint == 1.0)
        {
            <tr><th>Improper Use of Restraint:</th><td>True</td></tr>
        }

        @if (Model.unrestrained == 1.0)
        {
            <tr><th>Lack of Restraint:</th><td>True</td></tr>
        }
        @if (Model.work_zone_related == 1.0)
        {
            <tr><th>Work Zone Related:</th><td>True</td></tr>
        }

        @if (Model.intersection_related == 1.0)
        {
            <tr><th>Intersection Related:</th><td>True</td></tr>
        }

        @if (Model.night_dark_condition == 1.0)
        {
            <tr><th>Night Time(Dark):</th><td>True</td></tr>
        }

        @if (Model.older_driver_involved == 1.0)
        {
            <tr><th>Older Driver Involvement:</th><td>True</td></tr>
        }

        @if (Model.teenage_driver_involved == 1.0)
        {
            <tr><th>Teenage Driver Involved:</th><td>True</td></tr>
        }

        @if (Model.overturn_rollover == 1.0)
        {
            <tr><th>Vehicle Overturned:</th><td>True</td></tr>
        }

        @if (Model.roadway_departure == 1.0)
        {
            <tr><th>Crash Ran Vehicle Off Road:</th><td>True</td></tr>
        }

        @if (Model.single_vehicle == 1.0)
        {
            <tr><th>Single Vehicle Crash:</th><td>True</td></tr>
        }

    </tbody>

</table>