@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CarCrash

@{
    ViewData["Title"] = "Add / Edit Page";
    double[] severity_options = { 1.0, 2.0, 3.0, 4.0, 5.0 };
    string[] counties = { "Beaver", "Box Elder", "Cache", "Carbon", "Daggett", "Davis", "Duchesne", "Emery", "Garfield", "Grand", "Iron", "Juab", "Kane", "Millard", "Morgan", "Piute", "Rich", "Salt Lake", "San Juan", "Sanpete", "Sevier", "Summit", "Tooele", "Uintah", "Utah", "Wasatch", "Washington", "Wayne", "Weber" };
}

<div>
    <div asp-validation-summary="All" class="text-danger">

    </div>
    <form asp-controller="Home" asp-action="@(Model != null ? "EditCrash" : "AddCrash")" method="post">

        <input type="hidden" asp-for="Field1" value="0" />

        <label asp-for="city">City</label>
        <input asp-for="city" /> <br />

        <label asp-for="county_name">Select a County: </label>
        <select asp-for="county_name">
            <option value="">-- Select a County --</option>
            @foreach (string c in counties)
            {
                <option value="@c">@c</option>
            }
        </select>

        <label asp-for="main_road_name">Road Name</label>
        <input asp-for="main_road_name" />

        <label asp-for="milepoint">Milepoint</label>
        <input asp-for="milepoint" />

        <label asp-for="route">Route</label>
        <input asp-for="route" />

        <label asp-for="crash_date">Crash Date</label>
        <input type="date" asp-for="crash_date" />

        <input value="stuff" asp-for="crash_datetime" type="hidden" />

        <label asp-for="crash_time">Crash Time</label>
        <input asp-for="crash_time" />

        <label asp-for="Holiday">Holiday</label>
        <select asp-for="Holiday">
            <option value="">T/F</option>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>

        <label asp-for="Weekend">Weekend</label>
        <select asp-for="Weekend">
            <option value="">T/F</option>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>

        <label asp-for="Freeway">On a Freeway</label>
        <select asp-for="Freeway">
            <option value="">T/F</option>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>

        <label asp-for="crash_severity_id">How Severe?</label>
        <select asp-for="crash_severity_id">
            <option value="">-- Select a Severity --</option>
            @foreach (double c in severity_options)
            {
                <option value="@c">@c</option>
            }
        </select>

        <label asp-for="single_vehicle">Single Vehicle?</label>
        <select asp-for="single_vehicle">
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="overturn_rollover">Car Rollover?</label>
        <select asp-for="overturn_rollover">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="teenage_driver_involved">Teenage Driver Involved</label>
        <select asp-for="teenage_driver_involved">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="dui">DUI</label>
        <select asp-for="dui">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="distracted_driving">Distracted Driving</label>
        <select asp-for="distracted_driving">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="drowsy_driving">Drowsy Driving</label>
        <select asp-for="drowsy_driving">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="night_dark_condition">Night Conditions</label>
        <select asp-for="night_dark_condition">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="roadway_departure">Roadway Departure</label>
        <select asp-for="roadway_departure">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="motorcycle_involved">Motorcyle Involved</label>
        <select asp-for="motorcycle_involved">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="bicyclist_involved">Bicyclist Involved</label>
        <select asp-for="bicyclist_involved">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="commercial_motor_veh_involved">Commercial Vehicle Involved</label>
        <select asp-for="commercial_motor_veh_involved">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="pedestrian_involved">Pedestrian Involved</label>
        <select asp-for="pedestrian_involved">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="older_driver_involved">Older Driver Involved</label>
        <select asp-for="older_driver_involved">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="domestic_animal_related">Domestic Animal Related</label>
        <select asp-for="domestic_animal_related">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="wild_animal_related">Wild Animal Related</label>
        <select asp-for="wild_animal_related">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="work_zone_related">Workzone Related</label>
        <select asp-for="work_zone_related">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="improper_restraint">Improper Restraint</label>
        <select asp-for="improper_restraint">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="unrestrained">Unrestrained</label>
        <select asp-for="unrestrained">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="intersection_related">Intersection Involved</label>
        <select asp-for="intersection_related">
            @*<option value="">T/F</option>*@
            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <label asp-for="lat_utm_y">Latitude</label>
        <input asp-for="lat_utm_y" />

        <label asp-for="long_utm_x">Longitude</label>
        <input asp-for="long_utm_x" />
        <br />

        <input type="hidden" asp-for="crash_id" value="0" />

        <button type="submit">Submit</button>
    </form>
</div>