@page "/admin/crashes/edit/{id:long}"
@page "/admin/crashes/create"
@inherits OwningComponentBase<ICrashRepository>

<style>
    div.validation-message {
        color: red;
        font-weight: 500
    }
</style>

<h3 class="bg-@ThemeColor text-white text-center p-1">@TitleText a Crash</h3>

<EditForm Model="c" OnValidSubmit="SaveCrash">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <div class="form-group">
        <label>Crash Id</label>
        <input class="form-control" disabled value="@c.crash_id" />
    </div>

    <div class="form-group">
        <label>Severity</label>
        <ValidationMessage For="@(() => c.crash_severity_id)"></ValidationMessage>
        <InputSelect id="crash_severity_id" @bind-Value="c.crash_severity_id" class="form-control">
            @foreach (var car in @repo.Crashes.ToList())
            {
                <option value="@car.crash_severity_id">@car.crash_severity_id</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Date</label>
        <ValidationMessage For="@(() => c.crash_date)"></ValidationMessage>
        <InputDate type="date" class="form-control" @bind-Value="@c.crash_date"></InputDate>
    </div>

    <div class="form-group">
        <label>Time</label>
        <ValidationMessage For="@(() => c.crash_time)"></ValidationMessage>
        <InputText type="time" class="form-control" @bind-Value="@c.crash_time"></InputText>
    </div>

    <div class="form-group">
        <label>Is a Holiday</label>
        <ValidationMessage For="@(() => c.Holiday)"></ValidationMessage>
        <InputSelect id="Holiday" @bind-Value="c.Holiday" class="form-control">
            <option value="False">False</option>
            <option value="True">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>On a Weekdend</label>
        <ValidationMessage For="@(() => c.Weekend)"></ValidationMessage>
        <InputSelect id="Weekend" @bind-Value="c.Weekend" class="form-control">
            <option value="False">False</option>
            <option value="True">True</option>
        </InputSelect>
    </div>
    <div class="form-group">
        <label>County</label>
        <ValidationMessage For="@(() => c.county_name)"></ValidationMessage>
        <InputSelect id="county" @bind-Value="c.county_name" class="form-control">
            @foreach (var car in @repo.Crashes.ToList())
            {
                <option value="@car.county_name">@car.county_name</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label>City</label>
        <ValidationMessage For="@(() => c.city)"></ValidationMessage>
        <InputSelect id="city" @bind-Value="c.city" class="form-control">
            @foreach (var car in @repo.Crashes.ToList())
            {
                <option value="@car.city">@car.city</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Road</label>
        <ValidationMessage For="@(() => c.main_road_name)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="@c.main_road_name"></InputText>
    </div>

    <div class="form-group">
        <label>Route</label>
        <ValidationMessage For="@(() => c.route)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="@c.route"></InputText>
    </div>

    <div class="form-group">
        <label>On a Freeway</label>
        <ValidationMessage For="@(() => c.Freeway)"></ValidationMessage>
        <InputSelect id="Freeway" @bind-Value="c.Freeway" class="form-control">
            <option value="False">False</option>
            <option value="True">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Mile Point</label>
        <ValidationMessage For="@(() => c.milepoint)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="@c.milepoint"></InputNumber>
    </div>

    <div class="form-group">
        <label>Bicyclist Involved</label>
        <ValidationMessage For="@(() => c.bicyclist_involved)"></ValidationMessage>
        <InputSelect id="bicyclist_involved" @bind-Value="c.bicyclist_involved" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Motorcycle Involved</label>
        <ValidationMessage For="@(() => c.motorcycle_involved)"></ValidationMessage>
        <InputSelect id="motorcycle_involved" @bind-Value="c.motorcycle_involved" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Commercial Vehicle Involved</label>
        <ValidationMessage For="@(() => c.commercial_motor_veh_involved)"></ValidationMessage>
        <InputSelect id="commercial_motor_veh_involved" @bind-Value="c.commercial_motor_veh_involved" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Pedestrian Involved</label>
        <ValidationMessage For="@(() => c.pedestrian_involved)"></ValidationMessage>
        <InputSelect id="pedestrian_involved" @bind-Value="c.pedestrian_involved" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Driving Under the Influence</label>
        <ValidationMessage For="@(() => c.dui)"></ValidationMessage>
        <InputSelect id="dui" @bind-Value="c.dui" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Drowsy Driving</label>
        <ValidationMessage For="@(() => c.drowsy_driving)"></ValidationMessage>
        <InputSelect id="drowsy_driving" @bind-Value="c.drowsy_driving" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Distracted Driving</label>
        <ValidationMessage For="@(() => c.distracted_driving)"></ValidationMessage>
        <InputSelect id="distracted_driving" @bind-Value="c.distracted_driving" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Domestic Animal Related</label>
        <ValidationMessage For="@(() => c.domestic_animal_related)"></ValidationMessage>
        <InputSelect id="domestic_animal_related" @bind-Value="c.domestic_animal_related" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Wild Animal Related</label>
        <ValidationMessage For="@(() => c.wild_animal_related)"></ValidationMessage>
        <InputSelect id="wild_animal_related" @bind-Value="c.wild_animal_related" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Improper Use of Restraint</label>
        <ValidationMessage For="@(() => c.improper_restraint)"></ValidationMessage>
        <InputSelect id="improper_restraint" @bind-Value="c.improper_restraint" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Lack of Restraint</label>
        <ValidationMessage For="@(() => c.unrestrained)"></ValidationMessage>
        <InputSelect id="unrestrained" @bind-Value="c.unrestrained" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Work Zone Related</label>
        <ValidationMessage For="@(() => c.work_zone_related)"></ValidationMessage>
        <InputSelect id="work_zone_related" @bind-Value="c.work_zone_related" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Intersection Related</label>
        <ValidationMessage For="@(() => c.intersection_related)"></ValidationMessage>
        <InputSelect id="intersection_related" @bind-Value="c.intersection_related" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Night Time(Dark)</label>
        <ValidationMessage For="@(() => c.night_dark_condition)"></ValidationMessage>
        <InputSelect id="night_dark_condition" @bind-Value="c.night_dark_condition" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Older Driver Involved</label>
        <ValidationMessage For="@(() => c.older_driver_involved)"></ValidationMessage>
        <InputSelect id="older_driver_involved" @bind-Value="c.older_driver_involved" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Teenage Driver Involved</label>
        <ValidationMessage For="@(() => c.teenage_driver_involved)"></ValidationMessage>
        <InputSelect id="teenage_driver_involved" @bind-Value="c.teenage_driver_involved" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Vehicle Overturned</label>
        <ValidationMessage For="@(() => c.overturn_rollover)"></ValidationMessage>
        <InputSelect id="overturn_rollover" @bind-Value="c.overturn_rollover" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Crash Ran Vehicle Off Road</label>
        <ValidationMessage For="@(() => c.roadway_departure)"></ValidationMessage>
        <InputSelect id="roadway_departure" @bind-Value="c.roadway_departure" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Single Vehicle Crash</label>
        <ValidationMessage For="@(() => c.single_vehicle)"></ValidationMessage>
        <InputSelect id="single_vehicle" @bind-Value="c.single_vehicle" class="form-control">
            <option value="0.0">False</option>
            <option value="1.0">True</option>
        </InputSelect>
    </div>

    <button type="submit" class="btn btn-@ThemeColor">Save</button>
    <NavLink class="btn btn-secondary" href="/admin/books">Cancel</NavLink>

</EditForm>


@code {

    [Parameter]
    public long Id { get; set; } = 0;

    public string ThemeColor => Id == 0 ? "primary" : "warning";
    public string TitleText => Id == 0 ? "Create" : "Edit";

    public CarCrash c { get; set; } = new CarCrash();
    public ICrashRepository repo => Service;

    protected override void OnParametersSet()
    {
        if (Id != 0)
        {
            c = repo.Crashes.FirstOrDefault(x => x.Field1 == Id);
        }

    }

    public void SaveCrash()
    {
        if (Id == 0)
        {
            repo.CreateCrash(c);
        }

        else
        {
            repo.SaveCrash(c);
        }

        NavManager.NavigateTo("/admin/crashes");
    }


    [Inject]
    public NavigationManager NavManager { get; set; }

}
